# Visual Studio
.vs/
*.suo
*.user
*.useros
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.tmp
*.log

# Packages
/packages
/node_modules

# Rider
.idea/

# Dotnet tool files
.config/dotnet-tools.json
.config/dotnet-tools.local.json

# Local database files
*.db
*.sqlite
*.sqlite3

# Test results
TestResults/


# Other
tmp/